body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  padding: 20px
}
h3{
  font-size: 24px;
  text-align: center;
}
#game{
  display: flex;
  flex-direction: column;
}
li{
  display: flex;
  flex: 1;
}
li:first-child{
  border-top: 1px solid #333;
}
li>span:first-child {
  border-left: 1px solid #333;
}
li:nth-child(3n)>span {
  border-bottom: 1px solid #333;
}
li>span{
  flex: 1;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: #888;
}

li>span:nth-child(3n) {
  border-right: 1px solid #333;
}


li>span.error {
  background: #ffdfdf;
}
li>span.defalut {
  font-weight: bolder;
  color: #444;
  background: #fff;
}
    

li>span.defalut.active {
  background: #946250;
  color: #fff;
}
li>span.commonNum{
  background: #80bb3b;
  color: #fff;
}
li>span.common {
  background: #ffefdb;
}

li>span.active {
  background: #f1ca7f;
}

li>span.yellow {
  background: #a3de5f;
}

li>span.red {
  background: #ff8cc0;
}

.numBox{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.numBox button{
  margin-right: 8px;
  margin-bottom: 8px
}
.numBox span{
  background: #ddd;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  margin: 0px 8px 8px 0;
  font-size: 20px
}
.numBox span.yellow {
  background: #a3de5f;
}
.numBox span.red {
  background: #ff8cc0;
}


.menu{
  margin-top: 20px;
}
.menu button{
  margin-right: 30px;
}
